<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My First List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div ion-item *ngFor="let item of items">
      <button ion-button (click)="itemTapped($event, item)" item-left>
      </button>
      {{item.name}}
      <div class="item-note" item-right>
        {{item.description}}
      </div>
      <button ion-button (click)="removeItem($event, item)">
        Remove
      </button>
    </div>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>

  <ion-fab right bottom>
    <button ion-fab mini (click)="showCreateItemModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
